<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <title>Cursos educación continua</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row mr-0 justify-content-md-center align-items-center">
                <div class="col-sm-8">
                    <h1> Cursos Educación Continua</h1>
                </div>
                <div class="col-sm-4">
                    <img src="img/cursosBioNode.jpg" class="img-fluid rounded float-left">
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <form action="/registro" method="get" class="form-inline">
                        <a class="nav-link" href="javascript:;" onclick="parentNode.submit();">Registro</a>
                    </form>
                </li>
                {{#if sesion}}
                <!-- Sesión rol admin/-->
                <li class="nav-item">
                    <form action="/formularioCrear" method="post" class="form-inline">
                        <a class="nav-link" href="javascript:;" onclick="parentNode.submit();">Ver y crear cursos</a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/verInscritos" method="post" class="form-inline">
                        <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Lista de Inscritos </a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/EliminarInscritos" method="post" class="form-inline">
                        <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Eliminar inscripción
                        </a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/editarPerfiles" method="post" class="form-inline">
                        <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Editar perfiles </a>
                    </form>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" action="/salir" method="get">
                <h4>{{nombre}}</h4>
                <p>{{rol}}</p>
                <button class="btn btn-outline-danger mx-5 my-0" type="submit">Salir</button>
            </form>
            {{else}} {{#if sesion2}}
            <!-- Sesión rol aspirante/-->
            <li class="nav-item">
                <form action="/ver" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Cursos </a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/inscribir" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Inscripción </a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/verMisCursos" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Mis cursos </a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/chat" method="get" class="form-inline">
                    <input type="hidden" value="{{nombre}}" name="nombre">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Chat </a>
                </form>
            </li>
            </ul>
            <form id="nombreAspirante" class="form-inline my-2 my-lg-0" action="/salir" method="get">
                <h4 id="nombre">{{nombre}}</h4>
                <p>{{rol}}</p>
                <button class="btn btn-outline-danger mx-5 my-0" type="submit">Salir</button>
            </form>
            {{else}} {{#if sesion3}}
            <!-- Sesión rol docente/-->
            <li class="nav-item">
                <form action="/verMisCursosDocente" method="post" class="form-inline">
                    <a class="nav-link" href="javascript:;" onclick="parentNode.submit();"> Mis cursos </a>
                </form>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/salir" method="get">
                <h4>{{nombre}}</h4>
                <p>{{rol}}</p>
                <button class="btn btn-outline-danger mx-5 my-0" type="submit">Salir</button>
            </form>
            {{else}}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/ingresar" method="post">
                <input class="form-control mr-sm-2" type="text" name="usuario" placeholder="Nombre de usuario">
                <input class="form-control mr-sm-2" type="password" name="documento" placeholder="Documento">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Ingresar</button>
            </form>
            {{/if}} {{/if}}{{/if}}

        </div>
    </nav>